*, *:after, *:before
{
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
	border: 0;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

::selection, ::-moz-selection
{
	color:transparent;
	background: transparent;
}
@font-face {
    font-family: 'district';
    src: url('../font/distproth-webfont.eot');
    src: url('../font/distproth-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/distproth-webfont.woff2') format('woff2'),
         url('../font/distproth-webfont.woff') format('woff'),
         url('../font/distproth-webfont.ttf') format('truetype'),
         url('../font/distproth-webfont.svg#district_prothin') format('svg');
    font-weight: normal;
    font-style: normal;

}
a 
{
	color:#fff;
	text-decoration: none;
}
a:hover 
{
	color:#eee;
}
body 
{
	background: #1E1E1E;
	color:#fff;
	font-size: 16px;
	text-align: center;
    font-family: 'district';
}

header
{
	background:#038D98;
	background: #1A1A1A;
	position: fixed;
	top:0;
	left: 0;
	width: 12%;
	min-width: 163px;
	min-height: 100%;
}
section 
{
	min-height: 100%;
}
section#archivos
{
	margin-left: 12%;
	text-align: left;
}
article, button
{
	cursor: pointer;
}
article
{
	border: 1px solid transparent;
	width: 150px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	margin: 1em .5em;
	padding: .3em;
	min-height: 80px;
}
/*article:hover
{
	background: rgba(0,0,0,.1);
}*/

input:focus,textarea:focus
{
	outline: none;
}
button,input,textarea
{
	cursor: pointer;
}
article input[type="checkbox"]
{
	display: none;
}
input[type="submit"]
{
	background: #1A1A1A;
	width: 150px;
	height: 50px;
	color:#fff;
	outline-top: 1px solid #1e1e1e;
}
article input[type="text"]
{
	cursor: text;
	max-width: 100%;
	background: transparent;
	text-align: center;
	margin-top: .5em;
	padding: .1em;
	color:#fff;
	border: 1px solid transparent;
}
article input[type="text"]:focus
{
	outline: none;
	background: #000;
}

article img
{
	max-width: 80px;
	max-height: 80px;
}
ul 
{
	list-style: none;
}

ul li, ul button
{
	width: 100%;
	background: transparent;
	outline: none;
}
ul li 
{
	padding: .3em;
}
nav li button 
{
	background: #FF0055;
	padding: 1em 0;
	text-align: center !important;
	color:#fff !important;
}
ul li button
{
	color:#fff;
	font-size: 1em;
	text-align: left;
}
ul li span 
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

#menu 
{
	display: none;
	min-width: 220px;
	min-height: 150px;
	position: fixed;
	background: #FF0055;
	box-shadow: 0 5px 15px -5px rgba(0,0,0,.8);
}

#formularios form label 
{
	color:#fff;
	margin-right: 5px;
}

#formularios form textarea
{
	font-family: "district";
	width: 100%;
	min-height: 200px;
	padding: .5em;
	font-size: 1.2em;
	resize: none;
}
#formularios,#modificar
{
	background: rgba(0,0,0,.4);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	display: none;
	z-index: 100000000000;
}
#modificar
{
	display: block;
	height: 100%;
}
#formularios form
{
	position: absolute;
	text-align: left;
	top: 15%;
	left: 35%;
	width: 350px;
	min-height: 400px;
	background: #FF0055;
	padding: 1em;
}
#modificar h3
{
	background: #eee;
	color:#1A1A1A;
	width: 60%;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
}

#modificar-archivo
{
	margin-top: 7%;
}
#modificar form 
{
	background: #eee;
	margin: 0 auto;
	width: 60%;
	min-height: 40%;
}

#modificar #numero
{
	display: inline-block;
	vertical-align: top;
	width: 3%;
	min-height: 50%;
	background: #ccc;
	color:#1a1a1a;
	
}
#modificar form textarea
{
	background: #fff;
	width: 96%;
	display: inline-block;
	vertical-align: top;
	height: 50%;
	padding-left: 5px;
}

#formularios legend
{
	color:#fff;
}
#formularios input[type="text"]
{
	width: 100%;
	padding: .3em;
	height: 30px;
}

#menu #pico
{
	width: 0;
    height: 0;
    position: absolute;
    left: -9%;
    top: 5%;
    border-top: 15px solid transparent;
    border-right: 20px solid #FF0055;
    border-bottom: 15px solid transparent;
}
#menu span img 
{
	max-width: 30px;
}
.marcado 
{
	border: 1px dashed #EB0964;
}
.inline-block
{
	display: inline-block;
	vertical-align: middle;
}
.notify{
	display: none;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: auto;
	background: red;
}